@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

address {
  font-style: normal;
}

body {
  min-width: 375px;
}

.ap {
  display: none;
}

@media screen and (max-width: 768px) {
  .ap {
    display: block;
  }
  .none {
    display: none;
  }
}

@font-face {
  font-family: genei;
  src: url("../font/genei.woff");
}

@font-face {
  font-family: mb101;
  src: url("../font/gomb101.woff");
}

@font-face {
  font-family: hiramaru;
  src: url("../font/hiramaru.woff");
}

@font-face {
  font-family: hirasan;
  src: url("../font/hirasan.woff");
}

@font-face {
  font-family: koz-b;
  src: url("../font/koz-b.woff");
}

@font-face {
  font-family: koz-r;
  src: url("../font/koz-r.woff");
}

@font-face {
  font-family: mincho;
  src: url("../font/mincho.woff");
}

.hp_mb0 {
  margin-bottom: 0px !important;
}

.hp_mb10 {
  margin-bottom: 10px !important;
}

.hp_mb20 {
  margin-bottom: 20px !important;
}

.hp_mb30 {
  margin-bottom: 30px !important;
}

.hp_mb40 {
  margin-bottom: 40px !important;
}

.hp_mb50 {
  margin-bottom: 50px !important;
}

.hp_mb60 {
  margin-bottom: 60px !important;
}

.hp_mb70 {
  margin-bottom: 70px !important;
}

.hp_mb80 {
  margin-bottom: 80px !important;
}

.hp_mb90 {
  margin-bottom: 90px !important;
}

.hp_mb100 {
  margin-bottom: 100px !important;
}

.hp_mb110 {
  margin-bottom: 110px !important;
}

.hp_mb120 {
  margin-bottom: 120px !important;
}

.hp_mb130 {
  margin-bottom: 130px !important;
}

.hp_mb140 {
  margin-bottom: 140px !important;
}

.hp_mb150 {
  margin-bottom: 150px !important;
}

.hp_pd0 {
  padding: 0 !important;
}

.ani_btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ani_btn:hover {
  opacity: 0.8;
}

.ani_nav {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ani_nav:hover {
  background: #e1e1e1;
}

.wrapper_800 {
  max-width: 830px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.wrapper_1000 {
  max-width: 1030px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper_1200 {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.wrapper_1600 {
  max-width: 1630px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.wrapper_2000 {
  max-width: 2030px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.annotation {
  text-align: right;
  font-family: koz-b;
  font-size: 14px;
  color: #333333;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.title__main {
  text-align: center;
  font-family: koz-b;
  font-size: 24px;
  color: #000000;
  margin: 0 1em;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 0.2em 0.5em;
  min-width: 400px;
}

.title__num {
  font-size: 1.25em;
  margin-right: 0.5em;
}

.title__deco {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title__deco img {
  height: 100%;
  max-width: 100%;
}

.title__deco_1 {
  text-align: right;
}

.title__sub {
  text-align: center;
  font-family: mb101;
  color: #666666;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .title {
    position: relative;
  }
  .title__main {
    font-size: 18px;
    z-index: 2;
    min-width: 0px;
  }
  .title__deco {
    position: absolute;
    top: 0;
    height: 30px;
  }
  .title__deco_1 {
    left: 0;
  }
  .title__deco_2 {
    right: 0;
  }
}

.bubble {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.bubble__deco img {
  width: 100%;
}

.bubble__main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-family: koz-b;
  font-size: 20px;
  color: #000000;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .bubble {
    width: 350px;
  }
  .bubble__main {
    font-size: 18px;
  }
}

.head__top {
  font-family: koz-b;
  font-size: 16px;
  color: #42210b;
  padding: 0.5em;
  text-align: center;
  white-space: nowrap;
  border-bottom: 2px solid #df801e;
}

.head__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  position: relative;
}

.head__ttl {
  width: 350px;
}

.head__ttl img {
  width: 100%;
}

.head__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__btn {
  width: auto;
  height: 50px;
  margin-left: 5px;
}

.head__btn img {
  height: 100%;
}

.head__movie {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .head__top {
    font-size: 14px;
  }
  .head__main {
    padding: 10px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .head__ttl {
    width: 200px;
  }
  .head__btns {
    display: none;
  }
}

.hum {
  display: none;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hum_open {
  opacity: 0;
}

.hum__line {
  width: 40px;
  height: 6px;
  margin-bottom: 6px;
  background: #231f20;
}

.hum__txt {
  font-family: koz-b;
  font-size: 12px;
  color: #432108;
}

@media screen and (max-width: 768px) {
  .hum {
    display: block;
  }
}

.drawer {
  position: absolute;
  top: 0;
  right: -15px;
  width: calc(100% + 30px);
  overflow: hidden;
  pointer-events: none;
}

.drawer_open {
  pointer-events: auto;
}

.drawer_open .drawer__container {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.drawer__container {
  -webkit-transform: translate(100%);
          transform: translate(100%);
  background: rgba(247, 147, 30, 0.8);
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.drawer__top {
  text-align: right;
  margin-bottom: 30px;
}

.drawer__btn {
  width: 40px;
  height: 40px;
  position: relative;
}

.drawer__cross {
  width: 100%;
  height: 7px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.drawer__cross_1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.drawer__cross_2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.drawer__close {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-family: koz-r;
  color: white;
  font-family: 14px;
}

.drawer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
}

.drawer__icon {
  width: 50px;
  text-align: center;
  marker-mid: 20px;
}

.drawer__icon img {
  height: 20px;
}

.drawer__txt {
  font-family: koz-b;
  font-size: 16px;
  color: white;
}

.nav {
  background: #FAFAFA;
  width: 100%;
  z-index: 100;
}

.nav_fix {
  position: fixed;
  top: 0;
  left: 0;
}

.nav__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__content {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 0 30px 0;
  height: 100%;
}

.nav__content_wide {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.nav__content_narrow {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.nav__content_low {
  padding-bottom: 10px;
}

.nav__icon {
  max-height: 35px;
  margin-bottom: 5px;
}

.nav__ja {
  font-family: koz-b;
  font-size: 15px;
  color: #000000;
  margin-bottom: 0px;
  line-height: 1.25em;
}

.nav__en {
  font-family: mb101;
  font-size: 13px;
  color: #666666;
  line-height: 1.25em;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 50px;
}

.result__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2px;
}

.result__deco {
  width: 100%;
}

.result__txts {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-55%);
          transform: translateX(-50%) translateY(-55%);
  width: 100%;
}

.result__txt {
  text-align: center;
  font-family: mincho;
  color: #006837;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 2em;
  text-shadow: 0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white;
}

.result__txt_big {
  font-size: clamp(18px, 3vw, 30px);
}

@media screen and (max-width: 768px) {
  .result {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result__content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 30%;
    margin-bottom: 5px;
  }
  .result__txt {
    font-size: clamp(15px, 3vw, 100px);
    line-height: 1.25em;
    white-space: nowrap;
  }
  .result__txt_big {
    font-size: clamp(15px, 3.8vw, 100px);
  }
}

.about {
  padding: 20px 0;
  background-size: cover;
}

.about__txt {
  font-family: koz-b;
  color: #42210b;
  font-size: 18px;
  line-height: 1.8em;
}

.about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__photo {
  width: 25%;
}

.about__photo img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__txt {
    font-size: 16px;
  }
  .about__photo {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
}

.trouble {
  background-image: url("../img/bg/skin.png");
  background-size: cover;
  padding: 15px 0 30px 0;
  position: relative;
}

.trouble__content {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 0;
  margin-bottom: 30px;
  text-align: center;
}

.trouble__txt {
  text-align: left;
  font-family: koz-b;
  font-size: 20px;
  color: #000000;
  line-height: 1.8em;
}

.trouble__txt_big {
  font-size: 24px;
}

.trouble__txt_dib {
  display: inline-block;
}

.trouble__txt_hira {
  font-family: mincho;
  padding-left: 1.2em !important;
  position: relative;
}

.trouble__txt_hira::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8em;
  height: 0.8em;
  border: 1px solid #df801e;
}

.trouble__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trouble__sp {
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .trouble_sp {
    text-align: center;
  }
  .trouble_sp::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
  .trouble__cols {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 5px;
  }
  .trouble__txt {
    font-size: 16px;
    padding: 0 15px;
  }
  .trouble__txt_big {
    font-size: 20px;
  }
  .trouble__txt_orange {
    font-size: 18px;
    text-align: center;
    color: #cc6e11;
  }
  .trouble__list {
    display: inline-block;
  }
}

.feature {
  background-size: cover;
  padding: 30px 0;
}

.feature__ttl {
  width: 750px;
  margin: 0 auto 30px auto;
}

.feature__ttl img {
  width: 100%;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.feature__num {
  font-family: mincho;
  font-size: 50px;
  color: #e78044;
  margin-right: 0.5em;
}

.feature__txts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feature__subttl {
  font-family: mincho;
  font-size: 30px;
  color: #e78044;
  padding: 0.2em 0;
  line-height: 1.25em;
}

.feature__txt {
  font-family: mincho;
  font-size: 20px;
  color: #221815;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .feature__ttl {
    width: 350px;
    counter-reset: number;
  }
  .feature__num {
    display: none;
  }
  .feature__subttl {
    font-size: 18px;
    padding-left: 1.5em;
    position: relative;
  }
  .feature__subttl::after {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 30px;
  }
  .feature__txt {
    font-size: 16px;
  }
}

.service {
  padding: 30px 0;
  background: #edece3;
}

.service__txt {
  font-family: koz-r;
  font-weight: 900;
  font-size: 16px;
}

.service__txt_top {
  font-family: koz-b;
  font-size: 20px;
}

.service__txt_orange {
  display: inline-block;
  background: #df801e;
  color: white;
  padding: 0.5em 2em;
  border-radius: 32px;
  margin-bottom: 10px;
}

.service__txt_list {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 1.5em;
  line-height: 1.5em;
  position: relative;
}

.service__txt_list::after {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 1.6em;
  border: 1px solid #df801e;
}

.service__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__content {
  text-align: center;
  background: white;
  width: calc(25% - 5px);
  padding-bottom: 10px;
}

.service__ttl {
  font-family: koz-b;
  font-size: 20px;
  color: #000000;
  padding: 0.5em 0;
}

.service__img {
  margin-bottom: 15px;
}

.service__img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .service__contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service__content {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .service__txt_list {
    line-height: 1.25em;
    font-size: 16px;
    padding-left: 1em;
  }
  .service__txt_list::after {
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
  }
}

.guide {
  padding-top: 30px;
}

.guide__map iframe {
  width: 100%;
}

.guide__txt {
  font-family: koz-b;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  padding: 2em 0;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .guide__map iframe {
    height: 300px;
  }
  .guide__txt {
    text-align: left;
    font-size: 16px;
  }
}

.flow {
  background-size: cover;
  padding-bottom: 30px;
}

.flow__contents {
  margin: 0 auto 30px auto;
  max-width: 1000px;
}

.flow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__ttls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.flow__ttls::after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: calc(50% + 25px);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #d6712e)) top left/50% 100% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #d6712e)) top right/50% 100% no-repeat;
  background: linear-gradient(to top right, transparent 50%, #d6712e 50%) top left/50% 100% no-repeat, linear-gradient(to top left, transparent 50%, #d6712e 50%) top right/50% 100% no-repeat;
}

.flow__ttls_last::after {
  display: none;
}

.flow__num {
  width: 50px;
}

.flow__num img {
  width: 100%;
}

.flow__ttl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-family: mincho;
  font-size: 30px;
  color: #d6712e;
  line-height: 1.5em;
}

.flow__ttl_big {
  font-size: 1.4em;
}

.flow__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: genei;
  font-size: 18px;
  line-height: 1.5em;
  padding: 1em;
  border-bottom: 4px dashed #d6712e;
}

@media screen and (max-width: 768px) {
  .flow__content {
    display: block;
    margin-bottom: 15px;
  }
  .flow__ttls::after {
    display: none;
  }
  .flow__ttl {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
  }
  .flow__ttl_sptac {
    text-align: center;
  }
  .flow__num {
    position: relative;
    width: 35px;
  }
  .flow__num::after {
    content: "";
    width: 25px;
    height: 10px;
    position: absolute;
    top: calc(100% + 15px);
    left: calc(50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #d6712e)) top left/50% 100% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #d6712e)) top right/50% 100% no-repeat;
    background: linear-gradient(to top right, transparent 50%, #d6712e 50%) top left/50% 100% no-repeat, linear-gradient(to top left, transparent 50%, #d6712e 50%) top right/50% 100% no-repeat;
  }
  .flow__num_last::after {
    display: none;
  }
  .flow__txt {
    border-bottom: none;
    padding-top: 0;
    padding-left: 45px;
    font-size: 16px;
  }
}

.cost {
  max-width: 1000px;
  margin: 0 auto;
}

.cost__ttl {
  font-family: koz-r;
  font-weight: 900;
  color: #ce7a14;
  font-size: 20px;
  padding-left: 0.5em;
  margin-bottom: 0.8em;
}

.cost__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cost__table {
  font-family: hiramaru;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border-left: 1px solid #d95a24;
  border-top: 1px solid #d95a24;
  margin-bottom: 30px;
}

.cost__table td, .cost__table th {
  padding: 1em;
  border-right: 1px solid #d95a24;
  border-bottom: 1px solid #d95a24;
  line-height: 1.25em;
}

.cost__table th {
  background: #e3c09f;
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}

.cost__table td {
  padding-right: 2em;
  padding-left: 2em;
}

.cost__anns {
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 450px;
}

.cost__ann {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.cost__orange {
  font-family: koz-r;
  font-weight: 900;
  background: #df801e;
  font-size: 18px;
  color: white;
  line-height: 1.5em;
  width: 5.5em;
  text-align: center;
  border-radius: 2em;
  margin-right: 15px;
}

.cost__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: hiramaru;
  font-size: 16px;
  line-height: 1.5em;
  color: #000000;
}

.cost__txt_big {
  font-size: 18px;
}

.cost__txt_ann {
  padding-left: 1em;
  position: relative;
  line-height: 1.8em;
}

.cost__txt_ann::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

.cost__txt_red {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .cost__ttl {
    text-align: center;
    font-size: 18px;
  }
  .cost__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cost__table {
    width: 100%;
  }
  .cost__table td, .cost__table th {
    padding: 1em;
  }
  .cost__anns {
    min-width: 0px;
  }
  .cost__orange {
    font-size: 16px;
  }
  .cost__txt {
    font-size: 16px;
  }
}

.staff {
  padding: 30px 0;
}

.staff__ann {
  font-family: koz-r;
  font-weight: 900;
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5em;
  padding: 0 15px;
}

.staff__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.staff__content {
  width: 20%;
  margin: 0 2.5% 15px 2.5%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.staff__content:hover {
  opacity: 0.8;
}

.staff__photo {
  width: 100%;
  height: clamp(0px, 20vw, 160px);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.staff__photo img {
  height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.staff__name {
  font-family: koz-b;
  font-size: 18px;
  color: #000;
  padding: 1em 0;
}

@media screen and (max-width: 768px) {
  .staff__ann {
    text-align: left;
  }
  .staff__content {
    width: 30%;
    margin: 0 1.65% 15px 1.65%;
  }
  .staff__photo {
    height: clamp(0px, 30vw, 256px);
  }
  .staff__name {
    font-size: 16px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(77, 77, 77, 0.5);
}

.modal__content {
  display: none;
  position: absolute;
  z-index: 300;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: white;
  padding: 15px 10px;
  width: calc(100% - 30px);
  max-width: 650px;
}

.modal__name {
  font-family: koz-b;
  font-size: 21px;
  color: #000;
  margin-bottom: 15px;
}

.modal__name_kana {
  font-size: 18px;
}

.modal__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.modal__img {
  width: 250px;
  height: 160px;
  text-align: center;
  margin-right: 15px;
}

.modal__img img {
  height: 100%;
  width: auto;
}

.modal__profiles {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.modal__orange {
  font-family: koz-b;
  font-size: 16px;
  padding: 0.5em 0;
  width: 7em;
  text-align: center;
  background: #df801e;
  color: white;
  margin-right: 15px;
}

.modal__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: koz-b;
  color: #000;
  font-size: 16px;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.modal__txt_orange {
  color: #d95a24;
}

.modal__txt_btm {
  margin-bottom: 10px;
}

.modal__close {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(25%) translateY(-25%);
          transform: translateX(25%) translateY(-25%);
}

.modal__cross {
  width: 30px;
  height: 5px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal__cross_1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.modal__cross_2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.modal__prev {
  width: 35px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__prev::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  content: "";
  width: 40px;
  height: 40px;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  border-left: 10px solid rgba(0, 0, 0, 0.3);
}

.modal__next {
  width: 35px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__next::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  content: "";
  width: 40px;
  height: 40px;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  border-right: 10px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .modal {
    overflow: scroll;
  }
  .modal__content {
    top: 15px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 15px;
  }
  .modal__name {
    font-size: 18px;
  }
  .modal__name_kana {
    font-size: 16px;
  }
  .modal__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .modal__orange {
    font-size: 16px;
  }
  .modal__txt {
    font-size: 16px;
  }
}

.foot {
  height: 500px;
}
/*# sourceMappingURL=style.css.map */